# Git
.git
.gitignore

# Environment
.env*

# Logs
logs/
*.log

# IDE
.vscode/
.idea/*
*.swp
*.swo
*.iml

# Local overwrites
Makefile.local

# OS
.DS_Store
Thumbs.db

# Application Dependencies
vendor

dist/*